EXPO_PUBLIC_DAT_API_URL=
EXPO_PUBLIC_API_V2_URL=

PP_NO=
PASSWORD=
UID=

PPO_NO_ENCRYPTED=
# PPO_NO={{PPO_NO_ENCRYPTED}}

FORMATTED_PASSWORD=
PASSWORD_ENCRYPTED=
USERNAME_ENCRYPTED=





EXPO_PUBLIC_API_URL=
ACCESS_TOKEN=

REQUEST_TOKEN_ENCRYPTED=
UID_ENCRYPTED=


BANK_AC_NO=
DOB=

IMAGE_SAMPLE=./ignore-base64-1.json
IMAGE_SAMPLE_2=./ignore-base64-2.json

IMAGE_SAMPLE_ENCRYPTED=
IMAGE_SAMPLE_ENCRYPTED_2=

DAT_ACCESS_TOKEN=
LOGIN_PAYLOAD=
DAT_PENSION_PAYMENT_SLIP_PAYLOAD=
