
EXPO_PUBLIC_API_URL= 
PPO_NO_ENCRYPTED
PPO_NO={{PPO_NO_ENCRYPTED}}


ACCESS_TOKEN=
RENEW_TOKEN=

REQUEST_TOKEN_ENCRYPTED=
UID_ENCRYPTED=

PASSWORD_ENCRYPTED=
USERNAME_ENCRYPTED=

FORMATTED_PASSWORD=
BANK_AC_NO=
DOB=
VERSION=
